<div class = 'added_keys'>
  <% client = Client.find(@new_keys[0]["client_id"].to_i) %>
  <h2 class = 'page_header'><%= t('.header')%></h2>
  <h3 class = 'page_header'><%= client.name %></h2>

  <table class="client_table">
    <col width="50">
    <col width="250">
    <col width="250">
    <col width="220">
    <col width="180">
    <col width="100">
    <col width="250">
    <tr>
      <th class = 'th_table_show_head'>№</th>
      <th class = 'th_table_show_head'><%=t('.name')%></th>
      <th class = 'th_table_show_head'><%= t('.duration') %></th>
      <th class = 'th_table_show_head'><%= t('.comment') %></th>
      <th class = 'th_table_show_head'><%= t('.infinite_period') %></th>
      <th class = 'th_table_show_head'><%= t('.key_type_id') %></th>
      <th class = 'th_table_show_head'><%= t('.created_at') %></th>
    </tr>
    <% i = 1 %>
    <% @new_keys.each do |key| %>
      <tr>
        <% key_obj = ProductKey.find(key['id'].to_i) %>
        <td class = 'th_table_show'><%= i %></td>
        <td class = 'th_table_show'><%= link_to key['name'], product_key_path(key_obj) %></td>

        <% if key['infinite_period'] %>
          <td class = 'th_table_show_true'><%= t('.not_limited') %></td>
        <% else %>
          <td class = 'th_table_show'><%= key['duration'] %></td>
        <% end %>

        <td class = 'th_table_show'><%= key['comment'] %></td>

        <% if key['infinite_period'] %>
          <td class = 'th_table_show_true'><%= t('.active') %></td>
        <% else %>
          <td class = 'th_table_show_false'><%= t('.not_active') %></td>
        <% end %>

        <td class = 'th_table_show'><%= KeyType.find(key['key_type_id'].to_i).name %></td>
        <td class = 'th_table_show'><%= key['created_at'][0..9] %></td>
        <% i += 1 %>
      </tr>      
    <% end %>
    
    <tr>
      <td class = 'th_table_show_footer' colspan = '7'></td>
    </tr>
  </table>

  <div class = 'button_client_show_block'>
    <%= button_to t('.to_client'), client_path(client), method: :get,
      class:"button_client_show_new_key", params: { lang: I18n.locale } %>
  
    <%= button_to t('.to_main'), root_path, method: :get,
      class:"button_client_show_new_key", params: { lang: I18n.locale } %>
  </div>
</div>