<div class = 'new_product_key'>
 <div class = 'block_navigate_edit'>
      <a href="/" class="nav_bot_edit"><%= t('.on_header') %></a>
</div>      

  <h3 class = 'assign_free_key_h'><%= t('.header_0')%></h3>
  <h3 class = 'assign_free_key'><%= t('.header_1')%></h3>
  <h3 class = 'assign_free_key'><%= @client.name %></h3>
  <h3 class = 'assign_free_key'><%= @product_key.name %></h3>
  
  
  <p>
  <p class = 'assign_free_key'>t('.header_1')</p>
  <p class = 'assign_free_key'><%= @product_key.name %></p>
  <div class = 'block_navigate_edit'>
      <div class = 'form_common'>
   
  </div>
  </div>
</div>