<% lang = 'en' %>
<% lang = 'ru' if I18n.locale == :en %> 

<% if user_signed_in? %>
  <p class="nav_user">
    <%= t('.welcome') %> <b><%= current_user.last_name %> <%= current_user.first_name %></b> | <br>
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>

    <br> 
    <% if current_page?(root_path) %>
      <%= link_to t('.lang'), request.path.to_s + '?lang=' + lang %>
    <% end %>
  </p>  
<% end %>
