<div class = 'find_clients'>
  <h2 class = 'page_header'><%= t('.header')%></h2>
</div>

<div class = 'nav_and_form'>
    <div class = 'block_navigate'>
      <a href="/" class="nav_botr"><%= t('.on_header') %></a>
    </div>

    <div class = 'form'>
      <%= form_with url: "result", method: :get do |form| %>
        <%= form.label :name, t('.name'), class: "field_description"%><br>
        <%= form.text_field :name, class: "text_field_name", placeholder: t('.text_filed') %>
        <p>
        <%= form.label :email, t('.email'), class: "field_description"%><br>
        <%= form.text_field :email, class: "text_field_email", placeholder: t('.text_filed') %>
        <p>
        <%= form.label :comment, t('.comment'), class: "field_description"%><br>
        <%= form.text_area :comment, class: "text_field_comment", placeholder: t('.comment_field')%>
        <p>
        <%= button_to t('.find'), result_path, method: :get, class:"but_form", params: { lang: I18n.locale } %>
      <% end %>
    </div>
  </div>