<div class = 'show_client'>
  <h2 class = 'page_header'><%= t('.header') %></h2>
  <h3 class = 'page_header_new_key_client'><%= @client.name %></h3>
  <div class = 'block_navigate'>
      <a href="/" class="nav_botr"><%= t('.on_header') %></a>
   </div>

  <table class="client_table">
    <col width="300">
    <col width="250">
    <col width="350">
    <col width="150">
    <col width="150">
    <tr>
      <th class = 'th_table_show_head'><%=t('.email')%></th>
      <th class = 'th_table_show_head'><%= t('.comment') %></th>
      <th class = 'th_table_show_head'><%= t('.reg_data') %></th>
      <th class = 'th_table_show_head'><%= t('.active keys') %></th>
      <th class = 'th_table_show_head'><%= t('.all_keys') %></th>
    </tr>
    <td class = 'th_table_show'><%= @client.email %></td>
    <td class = 'th_table_show'><%= @client.comment %></td>
    <td class = 'th_table_show'><%= @client.created_at.to_s[0..9] %></td>

    <% if @client_active_keys_id.count.positive? %>      
      <td class = 'th_table_show'><%= link_to @client_active_keys_id.count,
                  client_keys_path(@client_active_keys_id.to_json) %></td>
    <% else %>  
      <td class = 'th_table_show'>0</td>
    <% end %>

    <% if @client_keys_id.count.positive? %>      
      <td class = 'th_table_show'><%= link_to @client_keys_id.count,
                  client_keys_path(@client_keys_id.to_json) %></td>
    <% else %>  
      <td class = 'th_table_show'>0</td>
    <% end %>

    <tr>
      <td class = 'th_table_show_footer' colspan = '5'></td>
    </tr>
  </table>

  <div class = 'button_client_show_block'>
    <%= button_to t('.new_key'), new_product_key_path, method: :get,
      class:"button_client_show_new_key", params: { lang: I18n.locale, client_id: @client.id } %>
    
    <% if ProductKey.where(client_id: nil).where(status: true).exists? %>
    <%= button_to t('.give_key'), give_key_path, method: :get,
      class:"button_client_show_get_key", params: { lang: I18n.locale, client_id: @client.id, 
      key_id: ProductKey.where(client_id: nil).where(status: true).last.id } %>
    <% end %>

    <%= button_to t('.edit_client'), edit_client_path, method: :get,
      class:"button_client_show_edit", params: { lang: I18n.locale } %>

    <%= button_to t('.delete_client'), client_path(@client), method: :delete, data: { confirm: 'Are you sure?'},
      class:"button_client_show_delete", params: { lang: I18n.locale } %>
  </div>

</div>


