<div class = 'show_client'>
  <h2 class = 'page_header'><%= t('.header') + ' ' + @client.name %></h2>

  <table class="client_table">
    <col width="300">
    <col width="220">
    <col width="350">
    <col width="150">
    <col width="150">
    <tr>
      <th class = 'th_table_show_head'><%=t('.email')%></th>
      <th class = 'th_table_show_head'><%= t('.comment') %></th>
      <th class = 'th_table_show_head'><%= t('.reg_data') %></th>
      <th class = 'th_table_show_head'><%= t('.active keys') %></th>
      <th class = 'th_table_show_head'><%= t('.all_keys') %></th>
    </tr>
    <td class = 'th_table_show'><%= @client.email %></td>
    <td class = 'th_table_show'><%= @client.comment %></td>
    <td class = 'th_table_show'><%= @client.created_at %></td>
    <td class = 'th_table_show'>?</td>
    <td class = 'th_table_show'><%= @client.product_keys.count %></td>
  </table>
</div>