<div class = 'client_keys'>
  <% client = ProductKey.find(@client_keys[0]).client %>
  <h2 class = 'page_header'><%= t('.header')%></h2>
  <h3 class = 'added_keys_client'><%= client.name %></h3>
  
  <div class = 'block_navigate'>
      <a href="/" class="nav_botr_ck"><%= t('.on_header') %></a>

      <table class="table_with_added_keys">
    <col width="50">
    <col width="250">
    <col width="250">
    <col width="220">
    <col width="180">
    <col width="100">
    <col width="250">
    <tr>
      <th class = 'th_table_show_head'>№</th>
      <th class = 'th_table_show_head'><%=t('.name')%></th>
      <th class = 'th_table_show_head'><%= t('.duration') %></th>
      <th class = 'th_table_show_head'><%= t('.comment') %></th>
      <th class = 'th_table_show_head'><%= t('.infinite_period') %></th>
      <th class = 'th_table_show_head'><%= t('.key_type_id') %></th>
      <th class = 'th_table_show_head'><%= t('.created_at') %></th>
    </tr>
    <% i = 1 %>
    <% @client_keys.each do |key| %>
      <tr>
        <% key_obj = ProductKey.find(key.to_i) %>
        <td class = 'th_table_show'><%= i %></td>
        <td class = 'th_table_show'><%= link_to key_obj.name, product_key_path(key_obj) %></td>

        <% if key_obj.infinite_period %>
          <td class = 'th_table_show_true'><%= t('.not_limited') %></td>
        <% else %>
          <td class = 'th_table_show'><%= CheckKey.working_days(key_obj) %></td>
        <% end %>

        <td class = 'th_table_show'><%= key_obj.comment %></td>

        <% if key_obj.infinite_period %>
          <td class = 'th_table_show_true'><%= t('.active') %></td>
        <% else %>
          <td class = 'th_table_show_false'><%= t('.not_active') %></td>
        <% end %>

        <td class = 'th_table_show'><%= KeyType.find(key_obj.key_type_id.to_i).name %></td>
        <td class = 'th_table_show'><%= key_obj.created_at.to_s[0..9] %></td>
        <% i += 1 %>
      </tr>      
    <% end %>
    
    <tr>
      <td class = 'th_table_show_footer' colspan = '7'></td>
    </tr>
  </table>
  </div>
  
  
</div>