<div class = 'box'>
  <div class = 'box_header'>
     <h2 ><%= t('.header')%></h2>
  </div>

  <div class = 'shift_up'>
  </div>

  <div class = 'box_form'>      
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <%= f.label :email, t('.email'), class: "field_description"%><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field_duration"%>
      <p>
      <%= f.label :password, t('.password'), class: "field_description"%><br>
      <%= f.password_field :password, autofocus: true, autocomplete: "current-password", class: "field_duration"%>
      <p>

      <% if devise_mapping.rememberable? %>
        <div class="name_field_duration">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"button_form_done" %>
      </div>
    <% end %>
  </div> 
</div>
