<div class = 'g_head'><%= t('.head') %></div>
<p>
<p>
<a href="clients/new" class="botr"><%= t('.new_client') %></a>
<a href="clients/find" class="botr"><%= t('.find_clients') %></a>
<a href="clients/index" class="botr"><%= t('.clients') %></a>
<a href="#" class="botr"><%= t('.find_keys') %></a>
<a href="#" class="botr"><%= t('.keys') %></a>