<div class = 'box'>
  <h2 class = 'box_header'><%= t('.header')%></h2>
  <div class = 'box_nav'>
    <a href="/" class="nav_botr"><%= t('.to_main') %></a>
  </div'> 
   
    <table class="table_with_added_keys">
      <col width="70">
      <col width="220">
      <col width="150">
      <col width="230">
      <col width="150">
      <col width="220">
      <col width="150">
      <col width="100">
      <col width="150">
      <tr>
        <th class = 'th_table_show_head'><%=t('.num')%></th>
        <th class = 'th_table_show_head'><%=t('.name')%></th>
        <th class = 'th_table_show_head'><%=t('.client')%></th>
        <th class = 'th_table_show_head'><%=t('.status')%></th>
        <th class = 'th_table_show_head'><%=t('.name')%></th>
        <th class = 'th_table_show_head'><%= t('.duration') %></th>
        <th class = 'th_table_show_head'><%= t('.comment') %></th>
        <th class = 'th_table_show_head'><%= t('.infinite_period') %></th>
        <th class = 'th_table_show_head'><%= t('.key_type_id') %></th>
        <th class = 'th_table_show_head'><%= t('.created_at') %></th>
      </tr>
      <% i = 1 %>
      <% @keys.each do |key| %>
        <tr>
          <td class = 'th_table_show'><%= i %></td>
          <td class = 'th_table_show'><%= key.name %></td>
          <td class = 'th_table_show'><%= key.client.name %></td>
           <% if key.status %>
          <td class = 'th_table_show_true'><%= t('.active') %></td>
           <% else %>
          <td class = 'th_table_show_false'><%= t('.not_ative') %></td>
        <% end %>
        </tr>
        <% i += 1 %>
      <% end %>
    </table>
 </div>
